<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>currencyName</key>
		<string>United States Dollar</string>
		<key>currencyCode</key>
		<string>USD</string>
		<key>imageName</key>
		<string>USD</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>1</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Mexican Peso</string>
		<key>currencyCode</key>
		<string>MXN</string>
		<key>imageName</key>
		<string>MXN</string>
		<key>oldRateToUSD</key>
		<string>0.0768</string>
		<key>oldRateFromUSD</key>
		<string>13.04</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Canadian Dollar</string>
		<key>currencyCode</key>
		<string>CAD</string>
		<key>imageName</key>
		<string>CAD</string>
		<key>oldRateToUSD</key>
		<string>0.92</string>
		<key>oldRateFromUSD</key>
		<string>1.09</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>European Union Euro</string>
		<key>currencyCode</key>
		<string>EUR</string>
		<key>imageName</key>
		<string>EUR</string>
		<key>oldRateToUSD</key>
		<string>1.35</string>
		<key>oldRateFromUSD</key>
		<string>0.74</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Japanese Yen</string>
		<key>currencyCode</key>
		<string>JPY</string>
		<key>imageName</key>
		<string>JPY</string>
		<key>oldRateToUSD</key>
		<string>0.0098</string>
		<key>oldRateFromUSD</key>
		<string>102.04</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>British Pound Sterling</string>
		<key>currencyCode</key>
		<string>GBP</string>
		<key>imageName</key>
		<string>GBP</string>
		<key>oldRateToUSD</key>
		<string>1.6789</string>
		<key>oldRateFromUSD</key>
		<string>0.5956</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Australian Dollar</string>
		<key>currencyCode</key>
		<string>AUD</string>
		<key>imageName</key>
		<string>AUD</string>
		<key>oldRateToUSD</key>
		<string>0.9385</string>
		<key>oldRateFromUSD</key>
		<string>1.0656</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Swiss Franc</string>
		<key>currencyCode</key>
		<string>CHF</string>
		<key>imageName</key>
		<string>CHF</string>
		<key>oldRateToUSD</key>
		<string>1.1112</string>
		<key>oldRateFromUSD</key>
		<string>0.90</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Chinese Yuan</string>
		<key>currencyCode</key>
		<string>CNY</string>
		<key>imageName</key>
		<string>CNY</string>
		<key>oldRateToUSD</key>
		<string>0.1606</string>
		<key>oldRateFromUSD</key>
		<string>6.2283</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>New Zealand Dollar</string>
		<key>currencyCode</key>
		<string>NZD</string>
		<key>imageName</key>
		<string>NZD</string>
		<key>oldRateToUSD</key>
		<string>0.86</string>
		<key>oldRateFromUSD</key>
		<string>1.17</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Swedish Krona</string>
		<key>currencyCode</key>
		<string>SEK</string>
		<key>imageName</key>
		<string>SEK</string>
		<key>oldRateToUSD</key>
		<string>0.1497</string>
		<key>oldRateFromUSD</key>
		<string>6.70</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Russian Ruble</string>
		<key>currencyCode</key>
		<string>RUB</string>
		<key>imageName</key>
		<string>RUB</string>
		<key>oldRateToUSD</key>
		<string>0.029</string>
		<key>oldRateFromUSD</key>
		<string>34.36</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Hong Kong Dollar</string>
		<key>currencyCode</key>
		<string>HKD</string>
		<key>imageName</key>
		<string>HKD</string>
		<key>oldRateToUSD</key>
		<string>0.13</string>
		<key>oldRateFromUSD</key>
		<string>7.75</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Singapore Dollar</string>
		<key>currencyCode</key>
		<string>SGD</string>
		<key>imageName</key>
		<string>SGD</string>
		<key>oldRateToUSD</key>
		<string>0.80</string>
		<key>oldRateFromUSD</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>South Korean Won</string>
		<key>currencyCode</key>
		<string>KRW</string>
		<key>imageName</key>
		<string>KRW</string>
		<key>oldRateToUSD</key>
		<string>1.67889</string>
		<key>oldRateFromUSD</key>
		<string>0.595632</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Turkish Lira</string>
		<key>currencyCode</key>
		<string>TRY</string>
		<key>imageName</key>
		<string>TRY</string>
		<key>oldRateToUSD</key>
		<string>0.47</string>
		<key>oldRateFromUSD</key>
		<string>2.11</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Indian Rupee</string>
		<key>currencyCode</key>
		<string>INR</string>
		<key>imageName</key>
		<string>INR</string>
		<key>oldRateToUSD</key>
		<string>59.25</string>
		<key>oldRateFromUSD</key>
		<string>0.017</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>United Arab Emirates Dirham</string>
		<key>currencyCode</key>
		<string>AED</string>
		<key>imageName</key>
		<string>AED</string>
		<key>oldRateToUSD</key>
		<string>0.27</string>
		<key>oldRateFromUSD</key>
		<string>3.67</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Afghan Afghani</string>
		<key>currencyCode</key>
		<string>AFN</string>
		<key>imageName</key>
		<string>AFN</string>
		<key>oldRateToUSD</key>
		<string>0.017</string>
		<key>oldRateFromUSD</key>
		<string>58.71</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Albania Lek</string>
		<key>currencyCode</key>
		<string>ALL</string>
		<key>imageName</key>
		<string>ALL</string>
		<key>oldRateToUSD</key>
		<string>0.00969</string>
		<key>oldRateFromUSD</key>
		<string>103.18</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Armenian Dram</string>
		<key>currencyCode</key>
		<string>AMD</string>
		<key>imageName</key>
		<string>AMD</string>
		<key>oldRateToUSD</key>
		<string>0.0024</string>
		<key>oldRateFromUSD</key>
		<string>411.70</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Angolan Kwanza</string>
		<key>currencyCode</key>
		<string>AOA</string>
		<key>imageName</key>
		<string>AOA</string>
		<key>oldRateToUSD</key>
		<string>0.0102</string>
		<key>oldRateFromUSD</key>
		<string>97.78</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Argentine Peso</string>
		<key>currencyCode</key>
		<string>ARS</string>
		<key>imageName</key>
		<string>ARS</string>
		<key>oldRateToUSD</key>
		<string>0.1230</string>
		<key>oldRateFromUSD</key>
		<string>8.13</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Aruban Florin</string>
		<key>currencyCode</key>
		<string>AWG</string>
		<key>imageName</key>
		<string>AWG</string>
		<key>oldRateToUSD</key>
		<string>0.5586</string>
		<key>oldRateFromUSD</key>
		<string>1.79</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Azerbaijani Manat</string>
		<key>currencyCode</key>
		<string>AZN</string>
		<key>imageName</key>
		<string>AZN</string>
		<key>oldRateToUSD</key>
		<string>1.28</string>
		<key>oldRateFromUSD</key>
		<string>0.78</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Bahamian Dollar</string>
		<key>currencyCode</key>
		<string>BSD</string>
		<key>imageName</key>
		<string>BSD</string>
		<key>oldRateToUSD</key>
		<string>1.00</string>
		<key>oldRateFromUSD</key>
		<string>1.00</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Bahraini Dinar</string>
		<key>currencyCode</key>
		<string>BHD</string>
		<key>imageName</key>
		<string>BHD</string>
		<key>oldRateToUSD</key>
		<string>2.63</string>
		<key>oldRateFromUSD</key>
		<string>0.38</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Bangladeshi Taka</string>
		<key>currencyCode</key>
		<string>BDT</string>
		<key>imageName</key>
		<string>BDT</string>
		<key>oldRateToUSD</key>
		<string>0.1288</string>
		<key>oldRateFromUSD</key>
		<string>77.63</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Barbados Dollar</string>
		<key>currencyCode</key>
		<string>BBD</string>
		<key>imageName</key>
		<string>BBD</string>
		<key>oldRateToUSD</key>
		<string>0.50</string>
		<key>oldRateFromUSD</key>
		<string>2.00</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Belarusian Ruble</string>
		<key>currencyCode</key>
		<string>BYR</string>
		<key>imageName</key>
		<string>BYR</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>10190.01</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Belize Dollar</string>
		<key>currencyCode</key>
		<string>BZD</string>
		<key>imageName</key>
		<string>BZD</string>
		<key>oldRateToUSD</key>
		<string>0.50</string>
		<key>oldRateFromUSD</key>
		<string>2.00</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Bermuda Dollar</string>
		<key>currencyCode</key>
		<string>BMD</string>
		<key>imageName</key>
		<string>BMD</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>1</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Bhutanese Ngultrum</string>
		<key>currencyCode</key>
		<string>BTN</string>
		<key>imageName</key>
		<string>BTN</string>
		<key>oldRateToUSD</key>
		<string>0.0167</string>
		<key>oldRateFromUSD</key>
		<string>59.72</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Bolivian Boliviano</string>
		<key>currencyCode</key>
		<string>BOB</string>
		<key>imageName</key>
		<string>BOB</string>
		<key>oldRateToUSD</key>
		<string>0.1447</string>
		<key>oldRateFromUSD</key>
		<string>6.91</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Bosnia-Herzegovina Convertible Mark</string>
		<key>currencyCode</key>
		<string>BAM</string>
		<key>imageName</key>
		<string>BAM</string>
		<key>oldRateToUSD</key>
		<string>0.6944</string>
		<key>oldRateFromUSD</key>
		<string>1.44</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Botswana Pula</string>
		<key>currencyCode</key>
		<string>BWP</string>
		<key>imageName</key>
		<string>BWP</string>
		<key>oldRateToUSD</key>
		<string>0.1131</string>
		<key>oldRateFromUSD</key>
		<string>8.84</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Brunei Dollar</string>
		<key>currencyCode</key>
		<string>BND</string>
		<key>imageName</key>
		<string>BND</string>
		<key>oldRateToUSD</key>
		<string>0.80</string>
		<key>oldRateFromUSD</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Burundian Franc</string>
		<key>currencyCode</key>
		<string>BIF</string>
		<key>imageName</key>
		<string>BIF</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>1547.99</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Cambodian Riel</string>
		<key>currencyCode</key>
		<string>KHR</string>
		<key>imageName</key>
		<string>KHR</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>4047.05</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Cape Verde Escudo</string>
		<key>currencyCode</key>
		<string>CVE</string>
		<key>imageName</key>
		<string>CVE</string>
		<key>oldRateToUSD</key>
		<string>0.0124</string>
		<key>oldRateFromUSD</key>
		<string>80.40</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Cayman Island Dollar</string>
		<key>currencyCode</key>
		<string>KYD</string>
		<key>imageName</key>
		<string>KYD</string>
		<key>oldRateToUSD</key>
		<string>1.22</string>
		<key>oldRateFromUSD</key>
		<string>0.82</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Central African Franc</string>
		<key>currencyCode</key>
		<string>XAF</string>
		<key>imageName</key>
		<string>XAF</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>484.67</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Chilean Peso</string>
		<key>currencyCode</key>
		<string>CLP</string>
		<key>imageName</key>
		<string>CLP</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>553.60</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Colombian Peso</string>
		<key>currencyCode</key>
		<string>COP</string>
		<key>imageName</key>
		<string>COP</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>1881.88</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Comorian Franc</string>
		<key>currencyCode</key>
		<string>KMF</string>
		<key>imageName</key>
		<string>KMF</string>
		<key>oldRateToUSD</key>
		<string>.0028</string>
		<key>oldRateFromUSD</key>
		<string>363.65</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Costa Rican Colon</string>
		<key>currencyCode</key>
		<string>CRC</string>
		<key>imageName</key>
		<string>CRC</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>557.36</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Croatian Kuna</string>
		<key>currencyCode</key>
		<string>HRK</string>
		<key>imageName</key>
		<string>HRK</string>
		<key>oldRateToUSD</key>
		<string>0.18</string>
		<key>oldRateFromUSD</key>
		<string>5.60</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Czech Koruna</string>
		<key>currencyCode</key>
		<string>CZK</string>
		<key>imageName</key>
		<string>CZK</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>20.24</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Djiboutian Franc</string>
		<key>currencyCode</key>
		<string>DJF</string>
		<key>imageName</key>
		<string>DJF</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>181.20</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Dominican Peso</string>
		<key>currencyCode</key>
		<string>DOP</string>
		<key>imageName</key>
		<string>DOP</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>43.19</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Egyptian Pound</string>
		<key>currencyCode</key>
		<string>EGP</string>
		<key>imageName</key>
		<string>EGP</string>
		<key>oldRateToUSD</key>
		<string>0.14</string>
		<key>oldRateFromUSD</key>
		<string>7.15</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Eritrean Nakfa</string>
		<key>currencyCode</key>
		<string>ERN</string>
		<key>imageName</key>
		<string>ERN</string>
		<key>oldRateToUSD</key>
		<string>0.063</string>
		<key>oldRateFromUSD</key>
		<string>15.07</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Ethiopian Birr</string>
		<key>currencyCode</key>
		<string>ETB</string>
		<key>imageName</key>
		<string>ETB</string>
		<key>oldRateToUSD</key>
		<string>0.51</string>
		<key>oldRateFromUSD</key>
		<string>19.58</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Falklan Island Pound</string>
		<key>currencyCode</key>
		<string>FKP</string>
		<key>imageName</key>
		<string>FKP</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>0.59</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Fiji Dollar</string>
		<key>currencyCode</key>
		<string>FJD</string>
		<key>imageName</key>
		<string>FJD</string>
		<key>oldRateToUSD</key>
		<string>0.55</string>
		<key>oldRateFromUSD</key>
		<string>1.82</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Gambian Dalasi</string>
		<key>currencyCode</key>
		<string>GMD</string>
		<key>imageName</key>
		<string>GMD</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>39.61</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Georgian Lari</string>
		<key>currencyCode</key>
		<string>GEL</string>
		<key>imageName</key>
		<string>GEL</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>1.77</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Ghanaian Cedi</string>
		<key>currencyCode</key>
		<string>GHS</string>
		<key>imageName</key>
		<string>GHS</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>3.04</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Gibraltar Pound</string>
		<key>currencyCode</key>
		<string>GIP</string>
		<key>imageName</key>
		<string>GIP</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>0.59</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Guatemalan Quetzal</string>
		<key>currencyCode</key>
		<string>GTQ</string>
		<key>imageName</key>
		<string>GTQ</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>7.82</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Guinean Franc</string>
		<key>currencyCode</key>
		<string>GNF</string>
		<key>imageName</key>
		<string>GNF</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>6828.98</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Guyanese Dollar</string>
		<key>currencyCode</key>
		<string>GYD</string>
		<key>imageName</key>
		<string>GYD</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>205.70</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Haitian Gourde</string>
		<key>currencyCode</key>
		<string>HTG</string>
		<key>imageName</key>
		<string>HTG</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>45.34</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Honduran Lempira</string>
		<key>currencyCode</key>
		<string>HNL</string>
		<key>imageName</key>
		<string>HNL</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>20.83</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Hungarian Forint</string>
		<key>currencyCode</key>
		<string>HUF</string>
		<key>imageName</key>
		<string>HUF</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>225.96</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Icelandic Krona</string>
		<key>currencyCode</key>
		<string>ISK</string>
		<key>imageName</key>
		<string>ISK</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>114.22</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Indonesian Rupiah</string>
		<key>currencyCode</key>
		<string>IDR</string>
		<key>imageName</key>
		<string>IDR</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>11795.73</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Iranian Rial</string>
		<key>currencyCode</key>
		<string>IRR</string>
		<key>imageName</key>
		<string>IRR</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>25564.56</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Iraqi Dinar</string>
		<key>currencyCode</key>
		<string>IQD</string>
		<key>imageName</key>
		<string>IQD</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>1163.20</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Israeli New Shekel</string>
		<key>currencyCode</key>
		<string>ILS</string>
		<key>imageName</key>
		<string>ILS</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>3.46</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Jamaican Dollar</string>
		<key>currencyCode</key>
		<string>JMD</string>
		<key>imageName</key>
		<string>JMD</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>111.10</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Jordanian Dinar</string>
		<key>currencyCode</key>
		<string>JOD</string>
		<key>imageName</key>
		<string>JOD</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>1.41</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Kazakhstani Tenge</string>
		<key>currencyCode</key>
		<string>KZT</string>
		<key>imageName</key>
		<string>KZT</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>183.24</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Kenyan Shilling</string>
		<key>currencyCode</key>
		<string>KES</string>
		<key>imageName</key>
		<string>KES</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>87.96</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Kuwati Dinar</string>
		<key>currencyCode</key>
		<string>KWD</string>
		<key>imageName</key>
		<string>KWD</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>0.28</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Kyrgystani Som</string>
		<key>currencyCode</key>
		<string>KGS</string>
		<key>imageName</key>
		<string>KGS</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>52.68</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Lao Kip</string>
		<key>currencyCode</key>
		<string>LAK</string>
		<key>imageName</key>
		<string>LAK</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>8054.46</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Lebanese Pound</string>
		<key>currencyCode</key>
		<string>LBP</string>
		<key>imageName</key>
		<string>LBP</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>1508.62</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Lesotho Loti</string>
		<key>currencyCode</key>
		<string>LSL</string>
		<key>imageName</key>
		<string>LSL</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>10.67</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Liberian Dollar</string>
		<key>currencyCode</key>
		<string>LRD</string>
		<key>imageName</key>
		<string>LRD</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>89.00</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Lithuanian Litas</string>
		<key>currencyCode</key>
		<string>LTL</string>
		<key>imageName</key>
		<string>LTL</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>2.55</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Macau Pataca</string>
		<key>currencyCode</key>
		<string>MOP</string>
		<key>imageName</key>
		<string>MOP</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>7.98</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Macedonia Denar</string>
		<key>currencyCode</key>
		<string>MKD</string>
		<key>imageName</key>
		<string>MKD</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>45.38</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Malagasy Ariary</string>
		<key>currencyCode</key>
		<string>MGA</string>
		<key>imageName</key>
		<string>MGA</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>2422.80</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Malawian Kwacha</string>
		<key>currencyCode</key>
		<string>MWK</string>
		<key>imageName</key>
		<string>MWK</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>395.78</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Malaysian Ringgit</string>
		<key>currencyCode</key>
		<string>MYR</string>
		<key>imageName</key>
		<string>MYR</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>3.21</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Maldives Rufiyaa</string>
		<key>currencyCode</key>
		<string>MVR</string>
		<key>imageName</key>
		<string>MVR</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>15.41</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Mauritania Ouguiya</string>
		<key>currencyCode</key>
		<string>MRO</string>
		<key>imageName</key>
		<string>MRO</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>291.50</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Moldovan Leu</string>
		<key>currencyCode</key>
		<string>MDL</string>
		<key>imageName</key>
		<string>MDL</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>13.82</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Mongolian Tugrik</string>
		<key>currencyCode</key>
		<string>MNT</string>
		<key>imageName</key>
		<string>MNT</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>1825.51</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Moroccan Dirham</string>
		<key>currencyCode</key>
		<string>MAD</string>
		<key>imageName</key>
		<string>MAD</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>8.27</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Namibian Dollar</string>
		<key>currencyCode</key>
		<string>NAD</string>
		<key>imageName</key>
		<string>NAD</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>10.78</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Nepalese Rupee</string>
		<key>currencyCode</key>
		<string>NPR</string>
		<key>imageName</key>
		<string>NPR</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>94.70</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>New Taiwan Dollar</string>
		<key>currencyCode</key>
		<string>TWD</string>
		<key>imageName</key>
		<string>TWD</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>30.02</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Nicaraguan Cordoba Oro</string>
		<key>currencyCode</key>
		<string>NIO</string>
		<key>imageName</key>
		<string>NIO</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>25.90</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Nigerian Naira</string>
		<key>currencyCode</key>
		<string>NGN</string>
		<key>imageName</key>
		<string>NGN</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>163.00</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Norwegian Krone</string>
		<key>currencyCode</key>
		<string>NOK</string>
		<key>imageName</key>
		<string>NOK</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>5.99</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Omani Rial</string>
		<key>currencyCode</key>
		<string>OMR</string>
		<key>imageName</key>
		<string>OMR</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>0.38</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Pakistani Rupee</string>
		<key>currencyCode</key>
		<string>PKR</string>
		<key>imageName</key>
		<string>PKR</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>98.41</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Panamanian Balboa</string>
		<key>currencyCode</key>
		<string>PAB</string>
		<key>imageName</key>
		<string>PAB</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>1</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Papua New Guinea Kina</string>
		<key>currencyCode</key>
		<string>PGK</string>
		<key>imageName</key>
		<string>PGK</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>2.42</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Peruvian Nuevo Sol</string>
		<key>currencyCode</key>
		<string>PEN</string>
		<key>imageName</key>
		<string>PEN</string>
		<key>oldRateToUSD</key>
		<string>0.36</string>
		<key>oldRateFromUSD</key>
		<string>2.79</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Paraguay Guarani</string>
		<key>currencyCode</key>
		<string>PYG</string>
		<key>imageName</key>
		<string>PYG</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>4413.32</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Philippine Peso</string>
		<key>currencyCode</key>
		<string>PHP</string>
		<key>imageName</key>
		<string>PHP</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>43.60</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Polish Zloty</string>
		<key>currencyCode</key>
		<string>PLN</string>
		<key>imageName</key>
		<string>PLN</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>3.03</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Qatari Riyal</string>
		<key>currencyCode</key>
		<string>QAR</string>
		<key>imageName</key>
		<string>QAR</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>3.63</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Romanian Leu</string>
		<key>currencyCode</key>
		<string>RON</string>
		<key>imageName</key>
		<string>RON</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>3.25</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Rwandan Franc</string>
		<key>currencyCode</key>
		<string>RWF</string>
		<key>imageName</key>
		<string>RWF</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>680.50</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Samoa Tala</string>
		<key>currencyCode</key>
		<string>WST</string>
		<key>imageName</key>
		<string>WST</string>
		<key>oldRateToUSD</key>
		<string></string>
		<key>oldRateFromUSD</key>
		<string>2.30</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Sao Tome Dobra</string>
		<key>currencyCode</key>
		<string>STD</string>
		<key>imageName</key>
		<string>STD</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>18125.18</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Saudi Arabian Riyal</string>
		<key>currencyCode</key>
		<string>SAR</string>
		<key>imageName</key>
		<string>SAR</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>3.74</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Serbian Dinar</string>
		<key>currencyCode</key>
		<string>RSD</string>
		<key>imageName</key>
		<string>RSD</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>84.81</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Seychelles Rupee</string>
		<key>currencyCode</key>
		<string>SCR</string>
		<key>imageName</key>
		<string>SCR</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>12.25</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Sierra Leonean Leone</string>
		<key>currencyCode</key>
		<string>SLL</string>
		<key>imageName</key>
		<string>SLL</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>4339.89</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Solomon Islands Dollar</string>
		<key>currencyCode</key>
		<string>SBD</string>
		<key>imageName</key>
		<string>SBD</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>7.22</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Somali Shilling</string>
		<key>currencyCode</key>
		<string>SOS</string>
		<key>imageName</key>
		<string>SOS</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>961</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>South African Rand</string>
		<key>currencyCode</key>
		<string>ZAR</string>
		<key>imageName</key>
		<string>ZAR</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>10.68</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Sri Lankan Rupee</string>
		<key>currencyCode</key>
		<string>LKR</string>
		<key>imageName</key>
		<string>LKR</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>130.07</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Sudanese Pound</string>
		<key>currencyCode</key>
		<string>SDG</string>
		<key>imageName</key>
		<string>SDG</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>5.68</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Suriname Dollar</string>
		<key>currencyCode</key>
		<string>SRD</string>
		<key>imageName</key>
		<string>SRD</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>3.38</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Swazi Lilangeni</string>
		<key>currencyCode</key>
		<string>SZL</string>
		<key>imageName</key>
		<string>SZL</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>10.80</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Syrian Pound</string>
		<key>currencyCode</key>
		<string>SYP</string>
		<key>imageName</key>
		<string>SYP</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>149.20</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Tajikistan Somoni</string>
		<key>currencyCode</key>
		<string>TZS</string>
		<key>imageName</key>
		<string>TZS</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>4.91</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Tanzanian Shilling</string>
		<key>currencyCode</key>
		<string>TZS</string>
		<key>imageName</key>
		<string>TZS</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>1683.52</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Thai Baht</string>
		<key>currencyCode</key>
		<string>THB</string>
		<key>imageName</key>
		<string>THB</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>32.43</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Tongan Pa&apos;Anga</string>
		<key>currencyCode</key>
		<string>TOP</string>
		<key>imageName</key>
		<string>TOP</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>1.85</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Trinidad and Tobago Dollar</string>
		<key>currencyCode</key>
		<string>TTD</string>
		<key>imageName</key>
		<string>TTD</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>6.42</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Tunisian Dollar</string>
		<key>currencyCode</key>
		<string>TND</string>
		<key>imageName</key>
		<string>TND</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>1.65</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Turkmenistan Manat </string>
		<key>currencyCode</key>
		<string>TMT</string>
		<key>imageName</key>
		<string>TMT</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>2.85</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Ugandan Shilling </string>
		<key>currencyCode</key>
		<string>UGX</string>
		<key>imageName</key>
		<string>UGX</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>2570.04</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>United Arab Emirates Dirham</string>
		<key>currencyCode</key>
		<string>AED</string>
		<key>imageName</key>
		<string>AED</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>3.67</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Uruguayan Peso</string>
		<key>currencyCode</key>
		<string>UYU</string>
		<key>imageName</key>
		<string>UYU</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>22.93</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Uzbekistan Som</string>
		<key>currencyCode</key>
		<string>UZS</string>
		<key>imageName</key>
		<string>UZS</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>2299.30</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Vanautu Vatu</string>
		<key>currencyCode</key>
		<string>VUV</string>
		<key>imageName</key>
		<string>VUV</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>93.80</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Venezuelan Bolivar Fuerte</string>
		<key>currencyCode</key>
		<string>VEF</string>
		<key>imageName</key>
		<string>VEF</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>6.28</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Viet Nam Dong</string>
		<key>currencyCode</key>
		<string>VND</string>
		<key>imageName</key>
		<string>VND</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>21205.01</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Yemeni Rial</string>
		<key>currencyCode</key>
		<string>YER</string>
		<key>imageName</key>
		<string>YER</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>214.81</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Zambian Kwacha</string>
		<key>currencyCode</key>
		<string>ZMW</string>
		<key>imageName</key>
		<string>ZMW</string>
		<key>oldRateToUSD</key>
		<string>1</string>
		<key>oldRateFromUSD</key>
		<string>6.25</string>
	</dict>
</array>
</plist>
