<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Produce</key>
	<array>
		<string>Apples, Red Delicious</string>
		<string>Bananas</string>
		<string>Oranges, Navel</string>
		<string>Grapefruit</string>
		<string>Grapes, seedless</string>
		<string>Lemons</string>
		<string>Potatoes</string>
		<string>Lettuce, iceberg</string>
		<string>Lettuce, romaine</string>
		<string>Tomatoes, field grown</string>
		<string>Broccoli</string>
		<string>Carrots</string>
		<string>Peppers, bell</string>
		<string>Beans, dried</string>
	</array>
	<key>Meat</key>
	<array>
		<string>Ground chuck</string>
		<string>Ground beef</string>
	</array>
</dict>
</plist>
