<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Produce</key>
	<array>
		<array>
			<string>Apple</string>
			<string>1.34</string>
		</array>
		<array>
			<string>Oranges</string>
			<string>.60</string>
		</array>
	</array>
	<key>Meat</key>
	<array>
		<dict>
			<key>Item</key>
			<string>Steak</string>
			<key>Price</key>
			<string>4.00</string>
		</dict>
		<dict>
			<key>Item</key>
			<string>Ground beef</string>
			<key>Price</key>
			<string>2.00</string>
		</dict>
	</array>
</dict>
</plist>
