<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemName</key>
		<string>Kilogram to Pound</string>
		<key>itemPrice</key>
		<integer>0</integer>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>New item - 5</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Pound to Kilogram</string>
		<key>itemPrice</key>
		<integer>0</integer>
		<key>itemFromUnit</key>
		<string>lb</string>
		<key>itemToUnit</key>
		<string>kg</string>
		<key>New item - 5</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Liter to Gallon (US)</string>
		<key>itemPrice</key>
		<integer>0</integer>
		<key>itemFromUnit</key>
		<string>ℓ</string>
		<key>itemToUnit</key>
		<string>gal</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Gallon (US) to Liter</string>
		<key>itemPrice</key>
		<integer>0</integer>
		<key>itemFromUnit</key>
		<string>gal</string>
		<key>itemToUnit</key>
		<string>ℓ</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Apples, red delicious</string>
		<key>itemPrice</key>
		<real>1.39</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>New item - 5</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Bananas</string>
		<key>itemPrice</key>
		<real>0.6</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>New item - 5</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Oranges, Navel</string>
		<key>itemPrice</key>
		<real>1.39</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Grapefruit</string>
		<key>itemPrice</key>
		<real>1.13</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Grapes, Seedless</string>
		<key>itemPrice</key>
		<real>2.36</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Lemons</string>
		<key>itemPrice</key>
		<real>2.08</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-09-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Strawberries</string>
		<key>itemPrice</key>
		<real>1.87</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Potatoes, white</string>
		<key>itemPrice</key>
		<real>0.7</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Lettuce, iceberg</string>
		<key>itemPrice</key>
		<real>1.11</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Lettuce, romaine</string>
		<key>itemPrice</key>
		<real>1.76</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Tomatoes, field grown</string>
		<key>itemPrice</key>
		<real>1.63</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Broccoli</string>
		<key>itemPrice</key>
		<real>1.81</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Peppers, sweet</string>
		<key>itemPrice</key>
		<real>2.72</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Cheese, American</string>
		<key>itemPrice</key>
		<real>4.43</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Cheese, cheddar</string>
		<key>itemPrice</key>
		<real>5.56</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Ground beef</string>
		<key>itemPrice</key>
		<real>3.88</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Ground beef, lean</string>
		<key>itemPrice</key>
		<real>5.41</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Steak, sirloin, USDA choice</string>
		<key>itemPrice</key>
		<real>7.87</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Beef for stew, boneless</string>
		<key>itemPrice</key>
		<real>5.16</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Bacon, sliced</string>
		<key>itemPrice</key>
		<real>6.01</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Pork chops</string>
		<key>itemPrice</key>
		<real>4</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Ham, boneless</string>
		<key>itemPrice</key>
		<real>4.37</real>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Chicken, fresh, whole</string>
		<key>itemPrice</key>
		<real>1.5</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Chicken breast, boneless</string>
		<key>itemPrice</key>
		<real>3.44</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Turkey, frozen, whole</string>
		<key>itemPrice</key>
		<real>1.64</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Liter to Gallon (US)</string>
		<key>itemPrice</key>
		<integer>0</integer>
		<key>itemFromUnit</key>
		<string>ℓ</string>
		<key>itemToUnit</key>
		<string>gal</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Gallon (US) to liter</string>
		<key>itemPrice</key>
		<integer>0</integer>
		<key>itemFromUnit</key>
		<string>gal</string>
		<key>itemToUnit</key>
		<string>ℓ</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Gasoline, regular unleaded</string>
		<key>itemPrice</key>
		<real>3.63</real>
		<key>itemFromUnit</key>
		<string>ℓ</string>
		<key>itemToUnit</key>
		<string>gal</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Gasoline, midgrade unleaded</string>
		<key>itemPrice</key>
		<real>3.82</real>
		<key>itemFromUnit</key>
		<string>ℓ</string>
		<key>itemToUnit</key>
		<string>gal</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Gasoline, premium unleaded</string>
		<key>itemPrice</key>
		<real>3.98</real>
		<key>itemFromUnit</key>
		<string>ℓ</string>
		<key>itemToUnit</key>
		<string>gal</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Diesel, automotive</string>
		<key>itemPrice</key>
		<real>3.9</real>
		<key>itemFromUnit</key>
		<string>ℓ</string>
		<key>itemToUnit</key>
		<string>gal</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
</array>
</plist>
