<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemName</key>
		<string>Apples, red delicious</string>
		<key>itemPrice</key>
		<real>1.36</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>New item - 5</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Bananas</string>
		<key>itemPrice</key>
		<real>0.6</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>New item - 5</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Oranges, Navel</string>
		<key>itemPrice</key>
		<real>1.26</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Grapefruit</string>
		<key>itemPrice</key>
		<real>1.02</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Grapes, Thompson Seedless</string>
		<key>itemPrice</key>
		<real>3.06</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Lemons</string>
		<key>itemPrice</key>
		<real>1.74</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Strawberries</string>
		<key>itemPrice</key>
		<real>2.33</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Potatoes, white</string>
		<key>itemPrice</key>
		<real>0.67</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Lettuce, iceberg</string>
		<key>itemPrice</key>
		<real>0.9</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Lettuce, romaine</string>
		<key>itemPrice</key>
		<real>1.57</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Tomatoes, field grown</string>
		<key>itemPrice</key>
		<real>1.62</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Broccoli</string>
		<key>itemPrice</key>
		<real>1.74</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Peppers, sweet</string>
		<key>itemPrice</key>
		<real>2.4</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Cheese, American</string>
		<key>itemPrice</key>
		<real>4.53</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Cheese, cheddar</string>
		<key>itemPrice</key>
		<real>5.73</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Ground beef</string>
		<key>itemPrice</key>
		<real>3.81</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Ground beef, lean</string>
		<key>itemPrice</key>
		<real>5.42</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Steak, sirloin, USDA choice</string>
		<key>itemPrice</key>
		<real>7.36</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Beef for stew, boneless</string>
		<key>itemPrice</key>
		<real>5.22</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Bacon, sliced</string>
		<key>itemPrice</key>
		<real>5.69</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Pork chops</string>
		<key>itemPrice</key>
		<real>4.04</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Ham, boneless</string>
		<key>itemPrice</key>
		<real>4.13</real>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Chicken, fresh, whole</string>
		<key>itemPrice</key>
		<real>1.53</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Chicken breast, boneless</string>
		<key>itemPrice</key>
		<real>3.39</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Turkey, frozen, whole</string>
		<key>itemPrice</key>
		<real>1.61</real>
		<key>itemFromUnit</key>
		<string>kg</string>
		<key>itemToUnit</key>
		<string>lb</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Gasoline, regular unleaded</string>
		<key>itemPrice</key>
		<real>3.66</real>
		<key>itemFromUnit</key>
		<string>ℓ</string>
		<key>itemToUnit</key>
		<string>gal</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Gasoline, midgrade unleaded</string>
		<key>itemPrice</key>
		<real>3.83</real>
		<key>itemFromUnit</key>
		<string>ℓ</string>
		<key>itemToUnit</key>
		<string>gal</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Gasoline, premium unleaded</string>
		<key>itemPrice</key>
		<real>3.99</real>
		<key>itemFromUnit</key>
		<string>ℓ</string>
		<key>itemToUnit</key>
		<string>gal</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Diesel, automotive</string>
		<key>itemPrice</key>
		<real>3.96</real>
		<key>itemFromUnit</key>
		<string>ℓ</string>
		<key>itemToUnit</key>
		<string>gal</string>
		<key>itemUpdated</key>
		<date>2014-05-15T23:27:22Z</date>
	</dict>
</array>
</plist>
