<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ground chuck</key>
	<string>3.73</string>
	<key>Ground beef</key>
	<string>3.55</string>
	<key>Ground beef, lean</key>
	<string>5.19</string>
	<key>Steak, round</key>
	<string>5.24</string>
	<key>Steak, sirloin</key>
	<string>6.97</string>
	<key>Beef for stew</key>
	<string>4.93</string>
	<key>Bacon, sliced</key>
	<string>5.46</string>
	<key>Pork Chops, bone-in</key>
	<string>3.67</string>
	<key>Pork Chops, boneless</key>
	<string>4.10</string>
	<key>Ham, bone-in, smoked</key>
	<string>2.36</string>
	<key>Ham, boneless</key>
	<string>4.11</string>
	<key>Chicken, fresh whole</key>
	<string>1.50</string>
	<key>Chicken breast, boneless</key>
	<string>3.38</string>
	<key>Chicken legs, bone-in</key>
	<string>1.58</string>
	<key>Turkey, frozen, whole</key>
	<string>1.70</string>
</dict>
</plist>
